<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jems">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CreateNewEmployee"
            android:label="@string/title_activity_create_new_employee"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".EmployeeTimesheetDetailActivity"
            android:label="@string/title_activity_employee_timesheet_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ExistingCustomerSelectionActivity" />
        <activity android:name=".UpdateJobActivity" />
        <activity android:name=".CreateNewCustomerActivity" />
        <activity android:name=".NewOrExistingCustomerActivity" />
        <activity android:name=".MaterialListActivity" />
        <activity android:name=".EmployeesOnProjectActivity" />
        <activity android:name=".ToDoListActivity" />
        <activity android:name=".CreateNewToDoListActivityItem" />
        <activity android:name=".ProjectDisplayActivity" />
        <activity
            android:name=".EmployeeActivity"
            android:label="@string/title_activity_employee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExpensesActivity"
            android:label="@string/title_activity_expenses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerTrackerActivity"
            android:label="@string/title_activity_customer_tracker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProjectTracker" />
        <activity android:name=".estimator.QuickEstimator" />
    </application>

</manifest>